body {
  background-image: url('./Components/background.jpg');
 background-size: cover;


}
.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
.bk {
  background-color: lightblue;
}

.margins {
  text-align: center;

}

.allign{
  margin-left: 20px;
 
}

li{
  margin: 0 0 0 0;
}